// Colors
$background: #1A1B26;
$background-alt: #16161E;
$foreground: #a9b1d6;
$blue: #7AA2F7;
$magenta: #BB9AF7;
$yellow: #E0AF68;
$green: #73DACA;
$red: #f7768e;
$cyan: #7dcfff;
$white: #a9b1d6;
$white-alt: #c0caf5;
$black: #15161e;
$black-alt: #414868;
$icons-font: "tabler-icons";


// Global
* {
	all: unset;
}

.sidebar {
	background-color: $background;
}

// Clock
.clock {
	background-color: $background;
	color: $foreground;
	border-radius: .3rem;
	margin-top: 2rem;

	&__hour,
	&__min,
	&__separator {
		font-family: Iosevka;
		font-weight: bold;
		font-size: 4em;
		margin-left: .8rem;
	}

	&__separator {
		margin-top: -.5rem;
	}

	&__day {
		font-family: Inter;
		font-style: italic;
		font-size: 1em;
	}
}

// System
.systembar {
	$self: &;
	background-color: $background;
	color: $foreground;
	border-radius: .3rem;

	scale trough {
		all: unset;
		background-color: $background-alt;
		border-radius: 1rem;
		min-height: .8em;
		min-width: 250px;

		highlight {
			all: unset;
			border-radius: 1rem;
		}
	}

	&--cpu {
		scale trough highlight {
			background-color: $blue;
		}

		#{$self}__icon {
			color: $blue;
		}
	}

	&--mem {
		scale trough highlight {
			background-color: $magenta;
		}

		#{$self}__icon {
			color: $magenta;
		}
	}

	&--bri {
		scale trough highlight {
			background-color: $yellow;
		}

		#{$self}__icon {
			color: $yellow;
		}
	}

	&--vol {
		scale trough highlight {
			background-color: $green;
		}

		#{$self}__icon {
			color: $green;
		}
	}

	&__icon {
		font-family: $icons-font;
		font-size: 1.5rem;
		font-weight: normal;
	}
}
}


// Power menu
.powermenu {
	background-color: $background;
	color: $foreground;
	border-radius: .8rem;
	font-family: $icons-font;
	font-size: 1.6em;
	margin-top: 8em;

	&--exit {
		color: $red;
	}

	&--lock {
		color: $yellow;
	}

	&--quit {
		color: $cyan;
	}

	&--reboot {
		color: $blue;
	}

	&--shutdown {
		color: $black-alt;
	}
}

//
// Calendar
//

.calendar {
	&__box {
		margin-left: 1rem;
		margin-right: 1rem;
	}

	// padding: .4rem .3rem 0 .3rem;
	font-family: Iosevka;
	font-size: 1.2em;
	font-weight: 500;

	&:selected {
		background-color: $cyan;
		border-radius: .3rem;
		color: $background;
		font-weight: 700;
	}

	.header {
		color: $blue;
		font-weight: bold;
	}

	.button {
		color: $magenta
	}

	.highlight {
		color: $magenta;
		font-weight: 700;
	}

	&:indeterminate {
		color: $background;
	}
}


// Music player
.music {
	&__player {
		background-color: $background;
		// padding: 0 1.5rem 1rem 1.5rem;
		// border-radius: 12px;
		// margin: .5rem;
	}

	&__album-art {
		background-size: cover;
		background-position: center;
		border-radius: 12px;
		margin: 1rem 2rem 0.5rem 2rem;
		padding: 5rem 5em;
	}

	&__artist {
		// font-family: Cartograph CF;
		font-style: italic;
		font-weight: bold;
		color: $foreground;
		font-size: 1.2em;
	}

	&__song {
		font-family: Cartograph CF;
		font-style: italic;
		font-size: 1.1em;
		color: $foreground;
		margin-top: -5px;
	}

	&__buttons {
		font-family: $icons-font;
		color: $foreground;
		font-size: 2.4em;
	}
}


// /** Generic window ***********************************/


// /** Profile ******************************************/
// .face {
// 	background-image: url('images/profile.png');
// 	background-size: 110px;
// 	background-position: 50% 35%;
// 	min-height: 110px;
// 	min-width: 110px;
// 	margin: 20px 0px 0px 0px;
// 	border-radius: 100%;
// }

// .metric-player scale trough highlight {
// 	all: unset;
// 	border-radius: 10px;
// 	background-color: $foreground;
// }

// .metric-player scale trough {
// 	all: unset;
// 	background-color: $background;
// 	border: 2px solid $foreground;
// 	border-radius: 50px;
// }

// .metric-player scale trough {
// 	min-width: 200px;
// 	min-height: 10px;
// 	// margin: .5rem 1rem 0 1rem;
// }


// .fullname {
// 	font-family: Cartograph CF;
// 	font-style: italic;
// 	color: $foreground;
// 	font-size: 17px;
// 	font-weight: bold;
// }

// /** System ********************************************/
// .cpu_icon,
// .mem_icon,
// .bri_icon,
// .vol_icon {
// 	font-family: feather;
// 	font-size: 20px;
// 	font-weight: normal;
// }

// .cpu_icon {
// 	color: $blue;
// }

// .mem_icon {
// 	color: $purple;
// }

// .bri_icon {
// 	color: $yellow;
// }

// .vol_icon {
// 	color: $green;
// }

// .cpu_bar,
// .mem_bar,
// .bri_bar,
// .vol_bar,
// scale trough {
// 	all: unset;
// 	background-color: $background-alt;
// 	border-radius: 16px;
// 	min-height: 15px;
// 	min-width: 250px;
// }

// .cpu_bar,
// .mem_bar,
// .bri_bar,
// .vol_bar,
// scale trough highlight {
// 	all: unset;
// 	border-radius: 16px;
// }

// .cpu_bar scale trough highlight {
// 	background-color: $blue;
// }

// .mem_bar scale trough highlight {
// 	background-color: $purple;
// }

// .bri_bar scale trough highlight {
// 	background-color: $yellow;
// }

// .vol_bar scale trough highlight {
// 	background-color: $green;
// }

// // /** Music ***************************************/
// // .player {
// // 	background-color: $background;
// // 	padding: 1.5rem 1.5rem 0 1.5rem;
// // 	border-radius: 12px;
// // }

// // .album_art {
// // 	background-size: cover;
// // 	background-position: center;
// // 	min-height: 100px;
// // 	border-radius: 12px;
// // }

// // .song {
// // 	font-family: Cartograph CF;
// // 	font-style: italic;
// // 	color: $foreground;
// // 	font-size: 14px;
// // 	font-weight: bold;
// // 	margin: 20px 0px 0px 0px;
// // }

// // .btn_prev,
// // .btn_play,
// // .btn_next {
// // 	font-family: Material Icons;
// // 	margin: -5px 0 1rem 0;
// // }

// // .btn_prev {
// // 	color: $foreground;
// // 	font-size: 20px;
// // 	font-weight: normal;
// // }

// // .btn_play {
// // 	color: $foreground;
// // 	font-size: 24px;
// // 	font-weight: bold;
// // }

// // .btn_next {
// // 	color: $foreground;
// // 	font-size: 20px;
// // 	font-weight: normal;
// // }
