! ===== Import color scheme =====
#include ".config/Xresources/tokyonight.Xresources"

! ===== Cursor theme =====
xcursor.theme:       Vanilla-DMZ

! ===== Screensaver =====
xscreensaver.fade:   false
xscreensaver.unfade: false

! ===== urxvt =====
URxvt.scrollBar: off
URxvt.font: xft:monospace:size=12
URxvt.internalBorder:     22

! ===== Font options =====
Xft.dpi: 102
!Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

! ===== Additional resources =====
#include ".config/Xresources/rofi.Xresources"
